@import url("utils.css");

/* Main */
:root {
  --primary: #3d8271;
  --highlight: #29564c;
  --active: #51ac96;
}

@font-face {
   font-family: Habibi-Regular;
   src: url("../fonts/habibi/Habibi-Regular.ttf");
}

@font-face {
   font-family: Vollkorn-Regular;
   src: url("../fonts/vollkorn/Vollkorn-Regular.ttf");
}

@font-face {
   font-family: ChopinScript;
   src: url("../fonts/chopin-script/ChopinScript.ttf");
}

@font-face {
   font-family: Kelvinch-Roman;
   src: url("../fonts/Kelvinch Version 3_2/Kelvinch-Roman.otf");
}

@font-face {
   font-family: Kelvinch-Italic;
   src: url("../fonts/Kelvinch Version 3_2/Kelvinch-Italic.otf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Vollkorn-Regular;
background: #FFEFBA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Header */

.cover-img {
  background-image: url("../images/LTGrVieru.jpg");
  background-size: cover;
  background-position: 50% 0%;
  height: 100vh;
}

.overlay {
  height: 100vh;
  width: 100%;
  background-color: #000000b3;
}

.overlay-text {
  font-family: ChopinScript;
	color: white;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	padding: 40vh 15px 0 15px;
}

.overlay-text h1, .overlay-text h3 {
  margin: 10px 0px;
}

nav {
  background: var(--primary);
  font-size: 0px;
  position: sticky;
  top: 0;
}

table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
}

/* .active { */
/*   /* background: var(--active); */ 
/* background: radial-gradient(circle, var(--active) 34%, var(--primary) 90%); */
/* } */
         
.center {
  margin: 0px auto;
  padding: 0px 10px;
}

.full {
  width: 700px;
}

.nav-item {
  text-decoration: none;
  font-size:16px;
  color: white;
  display: inline-block;
  transition: 0.5s;
  padding: 10px 7px;
  background: linear-gradient(180deg, var(--primary) 40%, var(--primary) 43%, var(--highlight) 57%, var(--highlight) 60%);
  background-size: auto 250%;
  background-position-y: 0;
}

.nav-item:hover {
  background-position-y: 100%;
}

.nav-items {
  display: flex;
}

.active {
  background: linear-gradient(0deg, var(--active) 15%, var(--active) 44%, var(--primary) 100%);
  transition: 0.5s;
  background-size: auto 200%;
  background-position-y: 0;
}

.active:hover {
  background-position-y: 100%;
}

/* Info box */

.info {
  background-color:  #efdf00aa;
  border-left: 8px solid #cfae06;
  /* border-radius: 8px 2px ; */
  font-size: 12px;
  padding: 5px;
  font-family: Kelvinch-Italic;
  width: 100%;
  float: right;
  position: inherit;
}

main{
  text-align: justify;
  min-height: 85vh;
}

main h1, main h2, main h3 {
  text-align: left;
}

.logo {
  height: 40px;
}

/* footer */
footer {
  background-color: #b8b894;
  height: 8vh;
  padding-top: 10px;
}

/* Article */
article {
	padding: 10px;
}

.article {
  background-color: beige;
	border-radius: 10px;
  transition: 0.5s;
}

.article-hover:hover {
	box-shadow: 0px 0px 14px -4px black;
	border-radius: 10px;
  transition: 0.5s;
}

/* Text and stuff */

[class^="f-"][class*="mut"] {
	color: #636363;
}

[class^="f-"][class*="mono"] {
	font-family: Fantasque Sans Mono;
}

[class^="f-"][class*="10"] {
	font-size: 10px;
}

[class^="f-"][class*="12"] {
	font-size: 12px;
}

[class^="f-"][class*="al"] {
	text-align: left;
}

[class^="f-"][class*="ar"] {
	text-align: right;
}

[class^="f-"][class*="ac"] {
	text-align: center;
}

[class^="f-"][class*="aj"] {
	text-align: justify;
}

.content { width: 100%; }

input {
  width:100%;
}

@media screen and (min-width: 1200px) {
  .full { width: 850px; }

  .content { width: 75%; }

  .info {
    width: 24%;
    float: right;
    position: sticky;
    top: 40px;
  }
}

@media screen and (max-width: 950px) {
  .full { width: 600px; }
}

@media screen and (max-width: 600px) {
  .full { width: 100%; }
}

